<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @recipe.title %>
</p>

<p>
  <strong>Cooking time:</strong>
  <%= @recipe.cooking_time %>
</p>

<p>
  <strong>Level of difficulty:</strong>
  <%= @recipe.level_of_difficulty %>
</p>

<p>
  <strong>Food type:</strong>
  <%= @recipe.food_type %>
</p>

<p>
  <strong>Food preference:</strong>
  <%= @recipe.food_preference %>
</p>

<p>
  <strong>Cuisine:</strong>
  <%= @recipe.cuisine %>
</p>

<p>
  <strong>Ingredients:</strong>
  <%= @recipe.ingredients %>
</p>

<p>
  <strong>Procedure:</strong>
  <%= @recipe.procedure %>
</p>

<%= link_to 'Edit', edit_recipe_path(@recipe) %> |
<%= link_to 'Back', recipes_path %>
