<!DOCTYPE html>
<html>
  <head>
    <title>CurryNation</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <ul class="nav navbar-nav pull-right">
      <% if user_signed_in? %>
          <li><%= link_to "#{current_user.email}" %></li>
          <li class="active"><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
      <% else %>
          <li><%= link_to "Sign In", new_user_session_path %></li>
          <li class="active"><%= link_to "Sign Up", new_user_registration_path %></li>
      <% end %>
    </ul>

    <div class="row">
      <div class="col-lg-2">
        <div class="panel panel-primary" id="panels">
          <div class="panel-heading">Food Prefernces
          </div>
          <% @food_preferences.each do |fp| %>
              <p><%= fp.name%></p>
          <%end%>
        </div>
        <div class="panel panel-primary" id="panels">
          <div class="panel-heading">Food Type
          </div>
          <% @food_types.each do |ft| %>
              <p><%= ft.name%></p>
          <%end%>
        </div>
        <div class="panel panel-primary" id="panels">
          <div class="panel-heading">Cuisine
          </div>
          <% @cuisines.each do |c| %>
              <p><%= c.name%></p>
          <%end%>
        </div>
      </div>

      <div class="col-lg-9">
        <%= yield %>
      </div>

    </div>

  </body>
</html>
